<div class="container-fluid inside-frame">
  <mat-grid-list cols="2" rowHeight="360px">
    <mat-grid-tile>
      <div class="pokemon-left">
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        <img :src="{{ pokemonLeft.imgBack }}" class="card-img" alt="pokemon-left">
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="pokemon-right">
        <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
        <img :src="{{ pokemonRight.imgFront }}" class="card-img" alt="pokemon-left">
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>