<div class="container-fluid inside-frame" style="overflow: scroll;">
  <div class="card d-flex flex-column ">
    <div class="card-body text">
      <img src="../../../assets/img/pokeDuelLogoTitle.png" style="width: 100%;" />

      <h1>¡Hola, pokedueler!</h1>

      <p>Bienvenido a la guía básica de supervivencia,
        la cual te dará unos pequeños tips para pasar rondas en
        PokeDuel.</p>

      <h2>IDENTIFÍCATE (NECESITAMOS SABER QUE ERES TÚ)</h2>
      <p>
        Es imprescindible que hagas <em>login</em> si tienes cuenta o bien te registres en el caso de no tenerla. ¡No te
        llevará más de 30 segundos!
      </p>

      <h2>ESCOGE A TU EQUIPO (SI NO, CON QUÉ VAS A JUGAR)</h2>

      <p>
        Una vez que te hayas identificado, necesitarás a tu equipo <em>pokémon</em> para poder combatir (o jugar, que
        queda
        mejor). Para ello, se generarán tres pokémon aleatorios que conformarán tu equipo, el cual se enfrentará a
        otros tres pokémon durante cada ronda.
      </p>

      <h2>TABLA DE TIPOS (PARA DUMMIES)</h2>
      <p>

        En esta aplicación, solo tenemos pokémon de 3 tipos: <em>agua, fuego y planta</em>. Cada tipo es fuerte y débil
        a la
        vez dependiendo de a quién nos enfrentemos. La tabla a tener en cuenta, pues, es la siguiente:<br>
        <br>
        <code>
          <ul>
            <li>
              Planta es fuerte contra agua pero débil contra fuego
            </li>
            <li>
              Fuego es fuerte contra planta pero débil contra agua

            </li>
            <li>
              Agua es fuerte contra fuego pero débil contra planta

            </li>
          </ul>
        </code>
      </p>

      <h2>JUEGO (A ESTO HEMOS VENIDO)</h2>
      <p>
        Durante el juego tienes dos posibilidades con las que deberás trabajar: <em>defender y atacar</em>. Atacar quita
        un
        tanto por ciento de salud; a la par, defender reduce el porcentaje de daño causado por el ataque.

        En el caso de ventaja de tipos, se quitará un 20% adicional; puede ocurrir, también que un pokémon,
        independientemente del tipo, propicie un golpe crítico. En este caso, se quitará un 20% adicional.

        La ronda se gana si has vencido a tu oponente (pasas de ronda), y se genera uno nuevo con el que tendrás que
        combatir si quieres seguir avanzando de ronda.

      </p>

      <h2>GUARDAR O CARGAR PARTIDA (SI NO PA' QUÉ JUEGAS)</h2>
      <p>

        Durante el transcurso del juego se podrá <em>guardar o cargar partida</em>. La primera opción actualiza tus
        estadísticas (guarda tus progresos), y la segunda te permite cargar la última partida almacenada (guardada).
      </p>

      <h2>CERRAR SESIÓN (ADÉU)</h2>
      <p>
        Siempre que quieras dejar de jugar, debes cerrar la sesión (recomendado). Sin embargo, si por un casual la
        página se te cierra o surge cualquier imprevisto, podrás ingresar de nuevo a ella con la última ronda que se
        haya guardado y sin iniciar de nuevo sesión
      </p>
    </div>
  </div>
  <img src="../../../assets/img/back.png" [routerLink]="['/menu-game',userID]" style="width: 5vh; margin: 1vh;" />
</div>
