@import '../variables';
@import '../mixins';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../interface";

.container {
    .gameboy-card {
        height: 100%;
        width: 100%;
        padding: 0 !important;
        background-color: $body-bg-md-down;

        .img-card {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 92%;
            width: 100%;

            .mat-card-image {
                width: 150px !important;
                height: 40px !important;
                margin: 0;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .container {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

@include media-breakpoint-up(md) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;

        .gameboy-card {
            background-color: $body-bg-md-up;
            margin-top: 9% !important;

            .menu {
                display: flex;
                flex-direction: column;
            }
        }
    }

}