@import '../variables';
@import '../mixins';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../interface";

.custom-container {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;

    .gameboy-card {
        background: red;
        height: 100px;
        padding: 0 !important;
        background-color: $body-bg-md-down;

        .img-card {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 87%;
            width: 100vw;
            height: 70px;

            .mat-card-image {
                margin: 0;
                width: 80px !important;
                height: 70px !important;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .container {
        display: flex;
        flex-direction: row;
        width: 100vw;

        .gameboy-card {
            background-color: $body-bg-md-up;
            margin-top: 9% !important;

            .menu {
                display: flex;
                flex-direction: column;
            }
        }
    }

}