//VARIABLES
@import '../../../variables';
@import '../../../mixins';
@import "../../../../node_modules/bootstrap/scss/bootstrap";

//FIXME: fix the color of the button
$secondary: $secondary;

.inside-frame{
  width: 100%;
  height: 85%;
  background: transparent;
  position: absolute;
  top: 4vh;
  overflow-y: hidden;
  overflow-x: hidden;
  .card{
    height: 90%;
    .card-body{
      background: $white;
      -webkit-box-shadow: rgb(0 0 0 / 37%) 0px 5px 15px 5px;
      box-shadow: rgb(0 0 0 / 37%) 0px 5px 15px 5px;
      h1{
        margin: 2.5%;
        font-size: 3.5ch;
        text-align: center;
      }
      p{
        margin: 2.5%;
        font-size: 1.5ch;
        text-align: justify;
        text-justify: inter-word;
      }
      .back-button{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 15%;
      }
    }
  }
  
}

@media (min-width: 800px){
  .inside-frame{
    .card{
      height: 95%;
      .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
          margin: 3%;
          font-size: 4ch;
          text-align: center;
        }
        p{
          margin: 3%;
          margin-bottom: 2%;
          width: 70%;
          margin: 0;
          font-size: 2ch;
          text-align: center;
          text-justify: auto;
        }
        .back-button {
          margin: 3%;
        }
      }
    }
  }
}