@use 'sass:math';
@use 'sass:map';

@function randomNum($max) {
    $rand: math.random($max);
    @return $rand;
}

@function chooseImg() {
    $bg-img: (1: 'bg-battle-1.png',
        2: 'bg-battle.png',
        3: 'bg-battle-2.jpg',
        4: 'bg-battle-4.webp',
        5:'bg-battle-5.png',
        6: 'bg-battle-6.png',
        7: 'bg-battle-7.png');
    $randomNum: randomNum(7);
    @return map.get($bg-img, $randomNum);
}