//VARIABLES
@import 'variables';
@import "../node_modules/bootstrap/scss/bootstrap";

.mat-grid-list {
    height: 360px;
}

.pokemon-left {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    place-content: flex-end;
}

.pokemon-right {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-left {
    width: 70% !important;
}

.card-img-right {
    width: 50% !important;
}

.mat-button-base {
    margin: 8px 8px 8px 0;
}

.attack-buttons {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px 0px 10px 0px;
    img {
        width: 25px;
    }

}

//FIXME: refactorize code
.pokemon-name-right {
    text-align: end;
    text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
        0 -1px 0 $black, 1px 1px $black, -1px -1px 0 $black,
        1px -1px 0 $black, -1px 1px 0 $black;
    border-radius: 1vh;
    width: 20vh;
    color: $white;
    text-transform: uppercase;
}

.pokemon-name-left {
    text-align: start;
    text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
        0 -1px 0 $black, 1px 1px $black, -1px -1px 0 $black,
        1px -1px 0 $black, -1px 1px 0 $black;
    border-radius: 1vh;
    width: 20vh;
    color: $white;
    text-transform: uppercase;
}

@media (min-width: 800px) {
    .card-img {
        width: 30% !important;
    }

    .pokemon-left {
        height: 60%;
    }

    .attack-buttons {
        display: flex;
        align-self: start;
    }

    .pokeR-height {
        margin-bottom: 110px !important;
    }

    .background-battle {
        background-image: url('assets/img/background-xl-battle.jpg');
        background-size: cover;
    }

}

@media (max-width: 799px) {
    .background-battle {
        background-image: url('assets/img/bg-battle.png');
        background-size: cover;
        height: 90%;
        width: 97%;
        margin-left: 1.5vw;
    }
}