//VARIABLES
@import 'variables';
@import 'functions';
@import "../node_modules/bootstrap/scss/bootstrap";


.mat-grid-list {
    height: 360px;
}

.mat-progress-bar {
    width: 60%;
}

.pokemon-left {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    place-content: flex-end;
}
.pokemon-right{
	height: 60%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	/* justify-content: ; */
	/* align-items: flex-end; */
	top: 1vh;
}

.card-img-left {
    width: 100px;
}

.card-img-right {
    width: 100px;
    max-height: 125px;
}

.mat-button-base {
    margin: 8px 8px 8px 0;
}

    .user-actions{
        // height: 100px;
        // width: 200px;
        transform: translateX(0);
        animation-name: actions;
        animation-duration: 1s;
        max-height: 120px;
        max-width: 220px;
        background: white;
        border: 2px solid;
        border-radius: 5px;
        display:grid;
        grid-template-columns: auto;
        place-items: center;
        margin-top: 15vh;
        margin-left: 5%;
        @keyframes actions {
            from {
                transform: translateX(150%);
            }
            to {
                transform: translateX(0);
            }
        }
    
        .attack-buttons {
            font-size: 90%;
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            // background-color: rgb(255, 255, 255, 0.5);
            // padding: 10px 0px 10px 0px;
            // border: 2px $black;
            // border-style: none solid;
            
            img {
                width: 20px;
                height: 20px;
            }
        }
    }




.pokemon-name-right {
    text-align: end;
    text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
        0 -1px 0 $black, 1px 1px $black, -1px -1px 0 $black,
        1px -1px 0 $black, -1px 1px 0 $black;
    border-radius: 1vh;
    width: 20vh;
    color: $white;
    text-transform: uppercase;
}

.pokemon-name-left {
    text-align: start;
    text-shadow: 1px 0 0 $black, -1px 0 0 $black, 0 1px 0 $black,
        0 -1px 0 $black, 1px 1px $black, -1px -1px 0 $black,
        1px -1px 0 $black, -1px 1px 0 $black;
    border-radius: 1vh;
    width: 20vh;
    color: $white;
    text-transform: uppercase;
}

@media (min-width: 800px) {
    .card-img {
        width: 30% !important;
    }

    .card-img-right {
        max-height: 150px;
    }

    .pokemon-left {
        height: 60%;
        top: 10vh;
    }
    .user-actions{
        /* position: absolute; */
        /* top: 10vh; */
        max-height: 200px;
        max-width: 300px;
        /* margin-bottom: 8vh; */
        margin-top: 10vh;
        margin-left: 5vw;
        .attack-buttons{            
            button, img {
                transition: all 0.2s ease;
            }
        }
        .attack-buttons:hover{
            button, img{
                transform: scale(1.2);
            }
        }
    }


    $img: 'assets/img/#{chooseImg()}';
    .background-battle {
        background-image: url(#{$img});
        background-size: cover;
    }
}

@media (max-width: 799px) {
    $img: 'assets/img/#{chooseImg()}';

    .background-battle {
        background-image: url(#{$img});
        background-size: cover;
        height: 91%;
        width: 98%;
        margin-left: 1.5vw;
        position: absolute;
        top: 2vh;
        right: 1.2%;
        /* left: 0.3%; */
        border-radius: 5px;
    }

}

@media (min-width: 1200px){
    .card-img-left{
        width: 125px;
    }
    .card-img-right {
        width: 125px;
    }
}