// ------------- VARIABLES GLOBAL
// ------------------------------------

// -- Colors
$dark-grey: #747570 !default;
$dark-garnet: #751650 !default;
$yellow: #ffcc01 !default;
$dark-blue: #365eaa !default;


// -- Body-background
$body-bg-md-down: #bdbec1;
$body-bg-md-up: #665f9e;

// -- Typography
